.message_card {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  border-radius: 35px !important;
}

.message_user {
  margin-left: auto;
  text-align: left !important;
}

.message__userCard {
  background-color: #0099ff !important;
  color: #fff !important;
}

.message__guestCard {
  background-color: #f1f0f0 !important;
}
